h2 {
    text-decoration: underline;
    color: silver;
    text-shadow: 3px, 5px;
    font-size: 32px;
}

body {
    color: silver;
    background-color: black;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

#nav {
    color: black;
    font-weight: 100;
    font: bolder;
}

.lounge {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lounge > div {
    border-style: hidden;
    padding: 1px;
    margin: 100px;
    margin-left: 1px;
 
}.dinimg > div {
    border-style: hidden;
    padding: 1px;
    margin: 100px;
    margin-left: 1px;
 }
    

.dinimg {
   display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.gokart > div {
    border-style: hidden;
    padding: 1px;
    margin: 100px;
    margin-left: 1px;
 }
    

.arcade {
   display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.arcade > div {
    border-style: hidden;
    padding: 1px;
    margin: 100px;
    margin-left: 1px;
 }
    

.gokart {
   display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

p {margin: 70px;
      }
   
      .lodging {
        display:flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

.lodging > div {
    width: auto;
    height: auto;
   }
